<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size=14px;">
    <tr>
        <td colspan="3" height="14px">
    </tr>
    <tr>
        <td></td>
        <td align="center" width="800" style="padding: 32px 0; background-color: #EFEFEF; border-radius: 20px;">
            <table width="80%x" border="0" cellspacing="14px" cellpadding="0">
                <tr>
                    <td style="background-color: #FAFAFA; border-radius: 20px; padding: 16px;">
                        {% block in_box %}{% endblock %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% block outside_box %}{% endblock %}
                    </td>
                </tr>
            </table>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3" height="14px">
    </tr>
    <tr>
        <td></td>
        <td align="center">
            No copyright&copy; yet
        </td>
        <td></td>
    </tr>
</table>
